.user-login-form{
    height: 30vh;
    padding: 100px;
    width: 40%;
    z-index: 100;
    position: fixed;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}   
.form-text.required{
    max-width: 80%;
}  
body{
    font-family: "Open Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.mobail__banner{
  display: none;
}
.h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 250px;
}
.h2{
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  text-transform: uppercase;
  text-align: center;
}
.h1 span{
    font-size: 38px;
    display: block;
    padding-top: 20px;

}
/* Общие стили для контейнера */
.container,
.advantages_container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  


  /*Header*/
  .header{
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    left: 0;
  }
  .header__mobile{
    display: none;
  }
  .header__burger{
    display: none;

  }
  .header__logo,
  .footer__logo{
    flex-basis: 15%;
    max-height: 100px;
  }
  .header__logo img,
  .footer__logo img{
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }
  .header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
  .header__menu_link{
    text-decoration: none;
    font-size: 16px;
    color: #292d36;
    transition: all .3s linear;
    font-size: 18px;
    font-weight: 500;
  }
  .header__menu_link:hover{
    color: #de2021;
  }
.header__contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header__number,
.header__mail{
    text-decoration: none;
    color: #292d36;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    gap: 5px;

}
.header__number:hover,
.header__mail:hover{
  color: #de2021;
}
/*banner*/
.main{
    background-image: url(../img/ef7afd4b-f076-4160-a9c4-a4b0e7a6766c.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.main::before{
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(41, 45, 54, 0.65);
}
.advantages{
    padding: 20px 0;
    position: absolute;
    z-index: 3;
    color: #fff;
    
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(41, 45, 54, 0.85);
}
.advantages__item{
  flex-basis: 22%;
  height: 5vh;
  display: flex;
  gap: 8px;


}
.advantages__item div{
  padding: 5px 0;
  box-sizing: border-box;

}
.advantages__item img{
  height: 100%;
  object-fit: contain;

}


.advantages_container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
}
/*about*/
.about{
    padding: 50px 0;
}
.about__wrap{
    display: flex;
    justify-content: space-between;
    gap: 8%;
}
.about__left{
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    gap: 20px;
}
.about__logo_link{
    flex-basis: 100%;
    display: block;
}
.about__logo_img{
    width: 100%;
    object-fit: contain;
    height: 100px;
}
.about__right{
    flex-basis: 46%;
}
.about__right .h2{
  text-align: left;
}

/*services*/
.services{
    padding: 50px 0;
}
.services__wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30vh);
    gap: 20px;
}
.services__item{
    border: 1px solid #c5c7ce;
    transition: all .3s linear;
    overflow: hidden;
}
.services__item:hover{
  border: 1px solid #de2021;
  background-color: #de2021;
}
.services__item:hover .services__item_name{
  color: #fff;
}
.services__item_image{
  width: 100%;
    height: 80%;
    overflow: hidden;

}
.services__item_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;


}
.services__item:hover .services__item_img{
  transform: scale(1.2);
}
.services__item_name{
    text-align: center;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    
}
/*products*/
.products{
    padding: 50px 0;
}
.products__name{
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
}
.products__wrap{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.products__item{
  
  display: block;
  width: 23%;
  height: 20vh;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.products__item:nth-child(1){
  background-image: url(../img/prod1.jpg);
}
.products__item:nth-child(2){
  background-image: url(../img/prod2.jpg);
}
.products__item:nth-child(3){
  background-image: url(../img/prod3.jpg);
}
.products__item:nth-child(4){
  background-image: url(../img/prod4.jpg);
}
.products__item_link{
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  transition: all .3s linear;
  position: relative;
  background-color: rgba(41, 45, 54, 0.55);
}
.products__item_link:hover{
  background-color: rgba(41, 45, 54, 0.75);
  border: 1px solid #de2021;
}
.iconstr{
  background-image: url(../img/icons8.png);
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 40px;
  transition: all .4s linear;
  opacity: 0;

}
.products__item_link:hover .iconstr{
  opacity: 1;
  transform: translateX(20px);

}
.img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#myCarousel1,
#myCarousel2,
#myCarousel3,
#myCarousel4 {
    --f-carousel-slide-height: 90%;
    --f-carousel-spacing: 10px;
  
    height: 500px;
  }
 
  .f-button{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 90px;
  }
.fancybox-content{
    width: 700px !important;
  }
  /*partners*/
  .partners{
    background-color: #c5c7ce;
    padding: 50px 0;
  }
  .partners__wrap{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .partners__item{
    background-color: #fff;
    flex-basis: 30%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    border-radius: 5px;
  }
  .partners__item:nth-child(1){
    background-image: url(../img/Боярд.png);
    }
  .partners__item:nth-child(2){
    background-image: url(../img/p2.png);
    }
  .partners__item:nth-child(3){
    background-image: url(../img/p3.png);
    }
    /*contacts*/

    .contacts{
      padding: 50px 0 0 0;
    }
    .address{
      padding: 30px 0 20px 0;
      display: block;
    }
    /*footer*/
    .footer{
      background-color: #24292d;
      position: relative;
    }
    .footer::after,
    .footer::before{
      display: block;
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;
      content: '';

    }
    .footer::after{
      background-image: url(../img/footer_left.png);
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .footer::before{
      background-image: url(../img/footer_right.png);
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .footer__wrap{
      position: relative;
      z-index: 9;
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
      gap:50px;

    }
    .footer__logo{
      flex-basis: 20%;
    }
    .footer__menu{
      display: flex;
      flex-basis: 80%;
      justify-content: space-between;
    }
    .footer li{
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      list-style: none;
    }
    .footer ul{
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }
    .footer__menu_link{
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all .3s linear;
    }
    .footer__sub-menu_link{
      color: #fff;
      text-decoration: none;
      transition: all .3s linear;
      display: flex;
      align-items: center;
      gap: 5px;

    }
    ul.footer__sub-menu{
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      gap: 10px;
    }
    .footer__sub-menu_link:hover,
    .footer__menu_link:hover{
      color: #de2021;

    }
    .footer__copy{
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 9;
      bottom: 0;
      background-color: white;
      border-radius: 5px 5px 0 0;
      padding: 20px 10px;
      font-size: 13px;
      font-weight: 500;
      gap:50px;
    }

      /* Стили для больших экранов (от 1200px и выше) */
  @media (min-width: 1200px) {
    .container,
    .advantages_container {
      max-width: 1140px;
    }
  }
  
  /* Стили для средних экранов (от 992px до 1199px) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .container,
.advantages_container {
      max-width: 960px;
    }
    .products__wrap{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .products__item{
      width: 100%;
      height: 25vh;
      background-size: cover;
      
    }
  }
  
  /* Стили для планшетов (от 768px до 991px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .container,
    .advantages_container {
      max-width: 720px;
    }
    .products__wrap{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .products__item{
      width: 100%;
      height: 25vh;
      background-size: cover;
  }
  .advantages_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .header__number, .header__mail, .header__menu_link {
    font-size: 14px;
  }
  .header__menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
  }
  
  .footer__menu{
    flex-direction: column;
    gap: 10px;

  }
  .footer__logo{
    flex-basis: 35%;
  }
  .footer__wrap{
    gap: 20px;
  }
}
  
  /* Стили для мобильных устройств (до 767px) */
  @media (max-width: 767px) {
    .container,
    .advantages_container {
      padding: 0 10px;
    }
    .products__wrap{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .products__item{
      width: 100%;
      height: 25vh;
      background-size: cover;
  }
  .header__logo{
    flex-basis: 20%;
  }
  .advantages_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .header__number, .header__mail, .header__menu_link {
    font-size: 14px;
  }
  
  .header__burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .header__burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger::before {
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .header__burger::after {
    transition: bottom .3s .15s, transform .3s;
  }
  .header__burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .header__burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
 .header__nav{
  position: absolute;
  right: 0;
  top: -700%;
  background-color: #fff;
  padding: 70px 10px;
  width:45%;
  transition: all 0.3s linear;
 }
 
 
 .header__menu{
  flex-direction: column;
  align-items: flex-end;
 }
 .header__nav.active{
  top: 0%;
 }
 .header__number, .header__mail, .header__menu_link{
  font-size: 18px;
 }
 .services__wrap{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 30vh);
 }
 .footer__menu{
  flex-direction: column;
  gap: 10px;
}
.footer__logo{
  flex-basis: 35%;
}
.footer__wrap{
  gap: 20px;
}
 
  }
  @media (max-width: 600px) {
    /* Стили для маленьких планшетов */
    .services__wrap {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 30vh);
  }
  .products__wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.footer__copy{
  flex-direction: column;
}

}
@media (max-width: 425px) {
  /* Стили для больших мобильных устройств */
  .partners__wrap{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
  }
  .partners__item {
width: 100%; 
 }
 .header__logo{
  flex-basis: 30%;

 }
     .header__number, .header__mail, .header__menu_link {
        font-size: 14px;
    }
 .main{
  display: none;
 }
 .mobail__banner{
  display: block;
  height: fit-content;
 }
 .mobail__title{
  background-image: url(/themes/custom/altecon/img/ef7afd4b-f076-4160-a9c4-a4b0e7a6766c.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    position: relative;
 }
 .mobail__title::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(41, 45, 54, 0.65);
    }
 .h1{
  font-size: 25px;
  margin: 0 0 0 0;
  padding-top: 30px;
 }
 .advantages{
    position: inherit;
 }
 .about{
  padding-bottom: 0;
 }
 .h1 span {
  font-size: 30px;

 }
 .about__wrap{
  flex-direction: column;
  gap: 20px;
 }
 .header__nav{
  width:60%;
 }
 .footer__wrap{
  flex-direction: column;
 }
}
.about,
.h1,
.partners, 
.contacts, 
.products, 
.services{
  transform: translate(0px, 40%);
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.about._anim,
.h1._anim,
.partners._anim,
.products._anim,
.contacts._anim,
.services._anim{
  transform: translate(0px, 0%);
  opacity: 1;
}